<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheeets/login.css_scss">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
              </div>
              <div class="form-label-group">
                <input type="email" name="login[email]" class="form-control" placeholder="Email Address" required autofocus>
                <label for="login[email]">Email address</label>
              </div>
              <div class="form-label-group">
                <input type="password" name="login[password]" class="form-control" placeholder="Password" required>
                <label for="login[password]">Password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>