<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
              <div class="form-label-group">
                  <%= form_with url: '/login', method: "post" do |f| %>

                  <label> Email: </label>
                  <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>

                  <label> Password: </label>
                  <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                  
                  <hr class="my-4">
                    
                  <div class="form-group row">
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                  <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

