<body>
    <section class="py-5">
        <div class="container">
        <div class="row">
        </div >
    </section>

    <section id="section-a">
        <h2><%=@user.name%>'s Test Results</h2>
        <p></p>
    </section>

    <section id="section-b">
        <p></p>
        <%= form_with url: "/logout", method: "delete" do |f| %>
            <%= f.submit "Logout"  %>
        <% end %>
    </section>


</body>