<body>
    
    <section id="section-a">
        <h2><%=@user.name%>'s Test Results</h2>
    </section>


    <div class="form-group row">
        <div class="col-md-12 text_center">
            <%= form_with url: "/logout", method: "delete" do |f| %>
                <%= f.submit "Logout"  %>
            <% end %>
        </div>
    </div>

</body>