<!DOCTYPE html>
<html>
<head>
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light"></h1>
                <p class="lead"></p>
            </div>
            </div>
        </div>
    </header>
</head>
<body>

     <section class="py-5">
        <div class="container">
        <div class="row">
        </div >
    </section>

    <section class="py-5">
        <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Yale COVID-19</h1>
                <p class="big-text"><b>Contact Tracing App</b></p>
                <a class="btn btn-second" href="/register">Register</a>
                <a class="btn btn-third" href="/login">Log-In</a>
            </div>
        </div >
    </section> 
</body>
</html>
