<section class="py-5">
    <div class="container">
    </div>
</section>
        <section id="section-c">
            <div class="container">
                <h2>Yale COVID-19 Analytics</h2>
                <hr class="my-4">
            </div>
            <div class="row">
                <h5>Total Transmissions on Campus: <%= %></h5>           
            </div>
            <div class="row">
                <h5>Active Cases on Campus:</h5>
            </div>
            <div class="row">
                <h5>Number of Tests conducted:</h5>
            </div>
            <hr class="my-4">
            <div class="container">
                <h5>Testing Facilities in New Haven</h5>
                
            </div>  

            <div id="map"></div>
        </section>
