<section class="py-5">
    <div class="container">
    </div>
</section>
        <section id="section-c">
            <div class="container">
                <h2>Yale COVID-19 Analytics</h2>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Total Transmissions</th>
                        <th scope="col">Active Cases</th>
                        <th scope="col">Number of Tests </th>
                    </tr>
                <thead>
                <tbody>
                        <td><h5><%= Transmission.all.length %></h5></td>
                        <td><h5><%= %></h5></td>
                        <td><h5><%= Test.all.length %></h5></td>
                </tbody>
            </table>

        
            <div class="container">
                <h3>High Risk Locations</h3>
            </div>  

            <div id="map"></div>
        </section>
