<!DOCTYPE html>
<html>
<head>
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
                <p class="lead">Yale COVID-19 Tracking App</p>
            </div>
            </div>
        </div>
    </header>
</head>
<body>
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Page Content</h2>
            <p>Test</p>
        </div>
    </section>
</body>
</html>