<section class="py-5">
        <div class="container">
        </div >
    </section>

    <section id="section-c">
        <div class="container">
            <h2>Yale COVID-19 Analytics</h2>
        </div>
    </section>
</section >