<section class="py-5">
        <div class="container">
        </div >
    </section>

    <section id="section-c">
        <div class="container">
            <h2><%= @test.user.name %>'s Test Result </h2>
        </div>
        <hr class="my-4">
        <div class="container">
            <h5>Time Taken: <%= @test.date %></h5><br>
        </div>
        <div class="container">
            <h5>Result: <%= @test.result %></h5><br>
        </div>
    </section>
</section >

