<section class="py-5">
        <div class="container">
        </div >
    </section>

    <section id="section-c">
        <div class="container">
            <h2><%= @test.user.name %>'s Test Result </h2>
        </div>
        <%= @test.date - @test.result %>
    </section>
</section >

